<footer class="site-footer">
 
  <div class="wrapper">

   

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-3">
        <!--<p class="text"><em>{{ site.description }}<em></p>-->
      </div>
      <div class="footer-col  footer-col-1 bubble">
       <h3 class="max-color">●</h3>
        <ul class="contact-list">
         <p><b>Max Dreyer</b> {% if page.footer == true %}is a musician and producer based in New York City. His compositional and recording projects are collected <a href="http://maxdreyer.com">here</a>.{% endif %}</p>
              <li>
            <a href="mailto:max.dreyer@gmail.com">Mail</a>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/dreyerprojects/">Instagram</a>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=1527103&fref=ts">Facebook</a>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2 bubble">
                    <h3 class="jacob-color">●</h3>
        <ul class="social-media-list">
          <p><b>Jacob Dreyer</b> <span>{% if page.footer == true %}is a writer and editor based in Shanghai. His book &#147;The Nocturnal Wanderer&#148; is forthcoming from Eros Press (London) in the month of June; he is a frequent contributor to LEAP magazine. His writing is archived on this site. {% endif %}</span></p>

          <li>
            <a href="mailto:jacobaugustusdreyer@gmail.com">Mail</a>
            </a>
          </li>
            <li>
            <a href="https://instagram.com/jadrey/">Instagram</a>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/jacobaugustusdreyer">Facebook</a>
            </a>
          </li>
        </ul>
      </div>

      
    </div>

  </div>

</footer>
